body {
    font-family: "Quicksand", sans-serif;
    background-image: url('./m.png');
    background-size: cover;
    color: white;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
